.featuresCon {
    background-color: $accent2;
    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .componentTitle {
            @include titleText;
        }
        .componentSubtitle {
            @include bodyText;
            margin-bottom: 40px;
        }
        .mobileImageContainer {
            display: flex;
            display: none;
            align-items: flex-start;
            .websiteImgMobileCon {
                width: calc(50% - 10px);
                max-width: 250px;
                .websiteImgMobile {
                    width:100%;
                }
                &:first-child {
                    margin-right: 20px;
                }
            }

            @include forBreakpoint(mobile tablet){
                display: flex;
            }
        } 
        .imgContainer {
            width: 100%;
            display: flex;
            .col {
                width: auto;
                &:first-child {
                    padding-right: 20px;
                }
                &:last-child {
                    padding-left: 20px;
                }
                .websiteImg {
                    width: 100%;
                }
            }
            @include forBreakpoint(mobile tablet){
                display: none;
            }
        }
    }
}