<div class="contactCon compCon">
    <div class="wrapper">

        <div class="col">
            <div class="contactFormContainer">
                <label class="labelStlye" for="contactName">Name</label>
                <input class="inputStyle" type="text" id="contactName">
                <label class="labelStlye" for="contactEmail">Email</label>
                <input class="inputStyle" type="text" id="contactEmail">
                <label class="labelStlye" for="contactMessage">Message</label>
                <textarea class="textareaStyle" id="contactMessage"></textarea>
                <p id="contactResMsgP" class="messageSentP">Message Sent</p>
                <button type="submit" id="submitContactBtn" class="submitBtn buttonStyle1">SEND<span class="sendingTextP">ING</span></button>
            </div>
        </div>
        <div class="col">
            <div class="col2Textarea">
                <h4 class="componentTitle">Let us hear your message today if:</h4>
                <div class="rowContainer">
                    <div class="row">
                        <div class="iconContainer">
                            <div class="icon"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <p>You want to find out more about our current features and future plans.</p>
                    </div>
                    <div class="row">
                        <div class="iconContainer">
                            <div class="icon"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <p>You have a question or query about our business and want to work with us.</p>
                    </div>
                    <div class="row">
                        <div class="iconContainer">
                            <div class="icon"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <p>You are having trouble with our service and want to let us know about it.</p>
                    </div>
                    <div class="row">
                        <div class="iconContainer">
                            <div class="icon"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <p>You just want to say hello!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>