<footer class="footerCon compCon">
    <div class="wrapper">

        <div class="row">
            <picture>
                <source srcset="images/siteLogo(light).webp" type="image/webp"/>
                <source srcset="images/siteLogo(light).png" type="image/png"/>
                <img class="siteLogo" loading=lazy src="images/siteLogo(light).png" alt="EXODIA Logo" draggable="false"/>
            </picture>
            <p class="footerSubtitle">Achieve your goals, then surpass your dreams.</p>
            <div class="socialContainer">
                <a href="https://www.facebook.com/Exodia-Fitness-103805478154907" class="iconContainer"><img loading=lazy alt="Visit our Facebook" src="images/facebook-brands.svg"></a>
                <a href="https://www.instagram.com/exodiafitness/" class="iconContainer"><img loading=lazy alt="Visit our Instagram" src="images/instagram-brands.svg"></a>
            </div>
        </div>
        <div class="row">
            <p class="copyrightText">EXODIA Fitness © <span id="footerYearP"></span>. All Rights Reserved.</p>
            <p class="createdBy">Created by <a href="https://williamyallop.com">William Yallop</a></p>
        </div>

    </div>
</footer>