<header id="headerCon" class="headerCon">
    <div class="wrapper">
        <picture id="headerLightSiteLogo">
            <source srcset="images/siteLogo(light).webp" type="image/webp"/>
            <source srcset="images/siteLogo(light).png" type="image/png"/>
            <img class="siteLogo" loading=lazy src="images/siteLogo(light).png" alt="EXODIA Logo" draggable="false"/>
        </picture>
        <img id="headerDarkSiteLogo" class="siteLogoDontShow siteLogo" loading=lazy src="images/siteLogo(dark).png" alt="EXODIA Logo" draggable="false"/>
        <a href="https://app.exodiafitness.com/signin" aria-label="Sign In" class="signInBtn"></a>
    </div>
</header> 