<div class="bannerCon compCon">
    <div class="wrapper">
        <div class="textareaCol">
            <h1 class="siteHeading">Enhance your<br>Fitbit experience</h1>  
            <p class="siteSubheading">Achieve your goals, then surpass your dreams with EXODIA Fitness. The only tool you need to put you in control of your health.</p>
            <a href="https://app.exodiafitness.com" class="buttonStyle1">START TODAY</a>
        </div>
        <div class="imageCol">
            <picture>
                <source srcset="images/bannerImg.webp" type="image/webp"/>
                <source srcset="images/bannerImg.png" type="image/png"/>
                <img class="bannerImg desktopVersion" loading=lazy src="images/bannerImg.png" alt="EXODIA app preview" draggable="false"/>
            </picture>
            <picture>
                <source srcset="images/phoneImg.webp" type="image/webp"/>
                <source srcset="images/phoneImg.png" type="image/png"/>
                <img class="bannerImg mobileVersion" loading=lazy src="images/phoneImg.png" alt="EXODIA app preview on mobile" draggable="false"/>
            </picture>
        </div>
    </div>
</div>