<div class="featuresCon compCon">
    <div class="wrapper">
        
        <h3 class="componentTitle">A multitude of features with many more on the way.</h3>
        <p class="componentSubtitle">Want to plan out your weekly workouts? Want to follow a program created by professionals? Well EXODIA Fitness has you covered! You can even track your exercise progression, water, weight and Fitbit data as well.</p>
        <div class="mobileImageContainer">
            <picture class="websiteImgMobileCon">
                <source srcset="images/programPhoneImg.webp" type="image/webp"/>
                <source srcset="images/programPhoneImg.png" type="image/png"/>
                <img class="websiteImgMobile" loading=lazy src="images/programPhoneImg.png" alt="Fitness Programs" draggable="false"/>
            </picture>
            <picture class="websiteImgMobileCon">
                <source srcset="images/trackerPhoneImg.webp" type="image/webp"/>
                <source srcset="images/trackerPhoneImg.png" type="image/png"/>
                <img class="websiteImgMobile" loading=lazy src="images/trackerPhoneImg.png" alt="Track Exercises" draggable="false"/>
            </picture>
        </div>
        <div class="imgContainer">
            <div class="col">
                <picture>
                    <source srcset="images/programPhoneImg.webp" type="image/webp"/>
                    <source srcset="images/programPhoneImg.png" type="image/png"/>
                    <img class="websiteImg" loading=lazy src="images/programPhoneImg.png" alt="Fitness Programs" draggable="false"/>
                </picture>
            </div>
            <div class="col">
                <picture>
                    <source srcset="images/tabletImg.webp" type="image/webp"/>
                    <source srcset="images/tabletImg.png" type="image/png"/>
                    <img class="websiteImg" loading=lazy src="images/tabletImg.png" alt="Track Exercise" draggable="false"/>
                </picture>
            </div>
        </div>

    </div>
</div>