<div class="introCon compCon">
    <div class="wrapper">

        <div class="col1">
            <img loading=lazy class="col1Image" src="images/startJourneyImg.svg" alt="Start your journey">
        </div>
        <div class="col2">
            <div class="col2Textarea">
                <h2 class="componentTitle">A brand new way to workout with EXODIA.</h2>
                <p class="componentSubtitle">Plan your workouts, track your exercises, follow professionally made programs and monitor your health from any device.</p>
                <div class="locationColContainer">
                    <div class="locationContainer">
                        <picture>
                            <source srcset="images/googlePlayIcon.webp" type="image/webp"/>
                            <source srcset="images/googlePlayIcon.png" type="image/png"/>
                            <img class="locationImg" loading=lazy src="images/googlePlayIcon.png" alt="Google playstore" draggable="false"/>
                        </picture>
                        <div class="locationTextarea">
                            <p>Google Store</p>
                            <a href="https://play.google.com/store/apps/details?id=com.exodiafitness.app&hl=en&gl=US" class="locationBtn">Visit</a>
                        </div>
                    </div>
                    <div class="locationContainer">
                        <picture>
                            <source srcset="images/webAppIcon.webp" type="image/webp"/>
                            <source srcset="images/webAppIcon.png" type="image/png"/>
                            <img class="locationImg" loading=lazy src="images/webAppIcon.png" alt="Website Icon" draggable="false"/>
                        </picture>
                        <div class="locationTextarea">
                            <p>Web App</p>
                            <a href="https://app.exodiafitness.com" class="locationBtn">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>