<div class="pricingCon compCon">
    <div class="wrapper">

        <div class="pricingTableContainer">
            <div id="pricingTable1" class="tableOuter mobileActive">
                <div class="tableInner">
                    <button id="pricingTable1Btn" class="toggleTableBtn" aria-label="Toggle prices"><span class="btnPos notActive"></span></button>
                    <h4 class="tableHeader">PREMIUM</h4>
                    <div class="underline"></div>
                    <div class="priceContainer">
                        <p class="priceSymbolP">£</p>
                        <p class="firstNumP">3</p>
                        <div class="priceRightContainer">
                            <p class="secondNumP">.99</p>
                            <p class="periodP">per month</p>
                        </div>
                    </div>
                    <ul class="tableUl">
                        <li>Full access to the site</li>
                        <li>Track Your Progression</li>
                        <li>Monitor Your Health</li>
                        <li>Link Your Fitbit For Live Data</li>
                        <li>Access to Over 100 Exercises</li>
                    </ul>
                </div>
            </div>

            <div id="pricingTable2" class="tableOuter">
                <div class="tableInner">
                    <div class="offerBanner">
                        <p>BEST DEAL</p>
                    </div>
                    <button id="pricingTable2Btn" class="toggleTableBtn" aria-label="Toggle prices"><span class="btnPos activeBtn"></span></button>
                    <h4 class="tableHeader">PREMIUM</h4>
                    <div class="underline"></div>
                    <div class="priceContainer">
                        <p class="priceSymbolP">£</p>
                        <p class="firstNumP">39</p>
                        <div class="priceRightContainer">
                            <p class="secondNumP">.99</p>
                            <p class="periodP">per year</p>
                        </div>
                    </div>
                    <ul class="tableUl">
                        <li>Full access to the site</li>
                        <li>Track Your Progression</li>
                        <li>Monitor Your Health</li>
                        <li>Link Your Fitbit For Live Data</li>
                        <li>Access to Over 100 Exercises</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="textareaContainer">
            <h4 class="componentTitle">Unlock your full potential with premium today!</h4>
            <p class="componentSubtitle">For an industry breaking price of only £3.99 a month you get full access to our suite of fitness tools and access to all future features.</p>
            <a href="https://app.exodiafitness.com" class="standardBtn buttonStyle1">GET STARTED</a>
        </div>

    </div>
</div>