<div class="programsCon compCon">
    <div class="wrapper">


        <h4 class="componentTitle">Over 10+ premium workout programs ready for you to follow.</h4>
        <p class="componentSubtitle">For the first 30 days you'll have unlimited access to our premium workout programs. There are programs for all skill levels and a large range of genres such as powerlifting, cardio and bodybuilding.</p>
    
        <div class="programContainer">
            <!-- 1 -->
            <a href="https://app.exodiafitness.com/programs" class="programOuter">
                <div class="programInner accent1">
                    <div class="programContentContainer">
                        <div class="beforeDiv"></div>
                        <picture>
                            <source srcset="images/introToPowerlifting.webp" type="image/webp"/>
                            <source srcset="images/introToPowerlifting.png" type="image/png"/>
                            <img class="programImage" loading=lazy src="images/introToPowerlifting.png" alt="Into to powerlifting fitness program" draggable="false"/>
                        </picture>
                        <div class="afterDiv"></div>
                    </div>  
                </div>
            </a>
            <!-- 2 -->
            <a href="https://app.exodiafitness.com/programs" class="programOuter">
                <div class="programInner accent2">
                    <div class="programContentContainer">
                        <div class="beforeDiv"></div>
                        <picture>
                            <source srcset="images/buildStrength.webp" type="image/webp"/>
                            <source srcset="images/buildStrength.png" type="image/png"/>
                            <img class="programImage" loading=lazy src="images/buildStrength.png" alt="Build strength fitness program" draggable="false"/>
                        </picture>
                        <div class="afterDiv"></div>
                    </div>  
                </div>
            </a>
            <!-- 3 -->
            <a href="https://app.exodiafitness.com/programs" class="programOuter secondRowOuter">
                <div class="programInner accent3">
                    <div class="programContentContainer">
                        <div class="beforeDiv"></div>
                        <picture>
                            <source srcset="images/improveDeadlift.webp" type="image/webp"/>
                            <source srcset="images/improveDeadlift.png" type="image/png"/>
                            <img class="programImage" loading=lazy src="images/improveDeadlift.png" alt="Improve deadlift fitness program" draggable="false"/>
                        </picture>
                        <div class="afterDiv"></div>
                    </div>  
                </div>
            </a>
            <!-- 4 -->
            <a href="https://app.exodiafitness.com/programs" class="programOuter secondRowOuter">
                <div class="programInner accent4">
                    <div class="programContentContainer">
                        <div class="beforeDiv"></div>
                        <picture>
                            <source srcset="images/beginnerBodyweight.webp" type="image/webp"/>
                            <source srcset="images/beginnerBodyweight.png" type="image/png"/>
                            <img class="programImage" loading=lazy src="images/beginnerBodyweight.png" alt="Beginner bodyweight fitness program" draggable="false"/>
                        </picture>
                        <div class="afterDiv"></div>
                    </div>  
                </div>
            </a>

        </div>


    </div>
</div>